body,
html {
  padding: 0;
  margin: 0;
  font-size: 18px;
  --primary-color: #2e4c66;
  --secondary-color: #041624;
}
.search-icon {
  width: auto;
  height: 40px;
}
.navbar__mobile__view {
  /* visibility: hidden; */
  /* display: none; */
  background-color: var(--primary-color);
  color: white !important;
}

.nav-link {
  color: white;
}
.nav-item-margin {
  /* margin: 0 250px; */
}
.navbar-toggler-icon {
  /* padding: 10px; */
  padding-top: 5px;
  background-color: white;
}
.navbar-nav {
  text-align: center;
  width: 100%;
  display: flex !important;
  justify-content: space-between !important;
}
.navbar-logo {
  display: flex;
  justify-content: center;
  height: 60px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.navbar__top {
  padding: 10px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.navbar-logo {
  grid-column-start: 2;
  margin: 0 auto;
}
.search__bar {
  display: flex;
  justify-content: flex-end;
}

.navbar-desktop {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  background-color: var(--primary-color);
}

.navbar__item {
  display: inline;
  color: white;
}

.main__carousel img {
  width: auto;
  height: 400px;
}
.custom__container {
  max-width: 1200px;
  margin: 0 auto;
}
.main__content-header {
  margin-top: 30px;
  font-weight: bold;
  text-align: center;
}

.main__content-details {
  line-height: 2rem;
  text-align: center;
  padding: 20px;
}

.main__images {
  display: flex;
  justify-content: space-between;
  margin: 30px;
}
.main__image1 {
  background-image: url("./assets/Image-1.jpg");
  width: 230px;
  height: 230px;
  display: flex;
}
.main__image2 {
  background-image: url("./assets/Image-3.jpg");
  width: 230px;
  height: 230px;
  display: flex;
}
.main__image-info {
  align-self: flex-end;
  text-align: center;
  padding: 5px 15px;
  width: 100%;
  margin: 0;
  color: white;
  background-color: var(--secondary-color);
  opacity: 0.8;
  display: block;
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: var(--secondary-color);
  color: white;
  padding: 20px;
}
.footer__links {
  align-items: center;
}
.footer__links__items {
  list-style-type: none;
  padding: 0;
}
.footer__links__item {
  padding: 5px 0;
}
.footer__location__map-image {
  max-width: 450px;
  max-height: 100px;
  border-radius: 10px;
  margin: 10px 0;
}
.footer__contactus__list {
  padding: 0;
  margin-top: 20px;
  list-style-type: none;
  display: flex;
  gap: 20px;
}
.footer__contactus__item-icon {
  width: 30px;
}
.footer__contactus__endtext {
  max-width: 500px;
}
.copyright {
  background-color: #0b0b0b;
  margin: 0;
  padding: 0;
}
.copyright-text {
  color: white;
  text-align: center;
  padding: 5px 0;
  font-size: 15px;
}
@media only screen and (max-width: 998px) {
  .footer__contactus__endtext {
    max-width: 280px;
  }
  .navbar__top {
    padding: 10px 0;
    display: block;
    grid-template-columns: repeat(3, 1fr);
  }
  .search__bar {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .main__images {
    display: block;
  }
  .main__image1,
  .main__image2 {
    margin: 30px auto;
  }
  .footer {
    display: block;
    background-color: var(--secondary-color);
    color: white;
    padding: 10px 20px;
  }
  .footer__links {
    margin: 0 auto;
  }
  .footer__links__items {
    list-style-type: none;
    padding: 0;
  }
  .footer__links__item {
    padding: 5px 0;
  }
  .footer__contactus__list {
    padding: 0;
    margin-top: 20px;
    list-style-type: none;
    display: flex;
    gap: 20px;
  }
  .footer__contactus__item-icon {
    width: 30px;
  }
  .footer__contactus__endtext {
    max-width: 500px;
  }
}
